#books {
	font-family: 'Open Sans';
	font-weight: normal;
  margin: auto;
  max-width: 48em;
	padding: 2em 3em 2em 3em;
}

.title {
	padding: 0.5em;
	font-size: 1.5em;
}

.books_data {
	padding: 1em 3em;
}

#book_name {
	font-size: 1.2em;
}

#author_name {
	font-style: italic;
}

#read_list {
	margin-top: 2em;
}
