#about {
    display: block;
    padding: 2em;
    position: relative;
}

#about_section {
    margin: 0px auto;
    font-family: 'Open Sans', 'Verdana', 'Helvetica', 'Arial';
    font-size: 1em;
    max-width: 50em;
}
