#about {
    display: block;
    padding: 20px;
    position: relative;
}

#home_image {
    width: 49%;
    opacity: 1.0;
    padding-right: 20px;
}

#about_section {
    margin: 0px auto;
    width: 50%;
    padding: 20px;
    font-family: 'Open Sans', 'Verdana', 'Helvetica', 'Arial';
    font-size: 1.2em;
    text-align: justify;
}
