body {
    min-width: 1200px;
    margin: 0px auto;
    background: #ffffff;
}

#main_body {
    margin: 0px auto;
    width: 70%;
}

#main_body #top_bar h1 {
    font-weight: normal;
    font-size: 3em;
    letter-spacing: 5px;
    word-spacing: 15px;
    color: #777;
    font-family:'Arial', 'Verdana', 'Helvetica', 'Sans-Serif';
}

#main_body hr {
    margin-top: -20px;
    border-style: ridge;
}

#nav_bar {
    position: absolute;
    top: 40px;
    left: 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline-block;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

ul#nav_list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

ul#nav_list li {
    display: block;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
    background: #eee;
    border-width: 7px;
    border-color: #ddd #aaa #bbb #f1f1f1;
    border-style: solid;
    border-radius: 15px;
}

ul#nav_list li a {
    color: #555;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

ul#nav_list li:hover {
    border-color: #eee #999 #aaa #fff;
    background-color: #ddd;
}

ul#nav_list li:active {
    background-color: #aaa;
}

