body {
    min-width: 54em;
    margin: 0px auto;
    background: #ffffff;
}

#main_body {
    transition: margin-left .5s;
}

#top_bar {
    text-align: center;
    width: 100%;
}

#main_body #top_bar a {
    font-weight: normal;
    color: #777;
    font-family: 'Arial', 'Verdana', 'Helvetica', 'Sans-Serif';
    text-align: center;
    text-decoration: none;
}

#main_body hr {
    border-style: ridge;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    width: 250px;
    background-color: #4b6cce;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebarmenu a {
    padding: 0.75em 0 0.75em 0;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.5s;
    border-top: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    font-family: 'Arial', 'Verdana', 'Helvetica', 'Sans-Serif';
}

.sidebarmenu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    background-color: #6280d8;
}

.sidebaritem {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 3em 2em 2em 2em;
    text-align: center;
}

.sidebaritem a {
    padding: 0.3em;
}

.sidebaritem img {
    width: 2em;
	  height: 2em;
}

#navbutton {
    cursor: pointer;
    color: #4b6cce;
    font-size: 2em;
    margin-left: 0.5em;
    position: fixed;
    top: 0.5em;
    left: 0;
    transition: left 0.5s;
}

