#post {
	font-family: 'Open Sans';
	font-weight: normal;
	text-decoration: none;
  max-width: 48em;
  margin: 0 auto;
  padding: 0 3em 0 3em;
}

#blog_title_bar {
    text-align: center;
    width: 100%;
}

#blog_title {
	padding: 10px;
	font-size: 2em;
}

#blog_date {
	font-size: 1.5em;
}

#content {
	margin: auto;
	text-align: justify;
	font-size: 1em;
  max-width: 50em;
}

#content a {
	text-decoration: none;
}

#blog_footer {
	width: 50%;
	padding: 2em;
	margin: 0 auto;
}
