/* Projects */
#projects {
	font-family: 'Open Sans';
	padding : 2em 3em 2em 3em;
	margin: auto;
  max-width: 48em;
	text-align: justify;
}

#projects a {
	text-decoration: none;
}

#projects ul {
	list-style: none;
}

#projects hr {
	margin: 1em 0;
}
/* Publications */
#publications {
	padding: 0;
}


#publ_name {
	font-size: 1.5em;
}

#publ_conf {
	font-size: 1.2em;
	font-style: italic;
}

/* Projects */
#project {
	padding: 0;
}

#project ul {
	list-style: disc;
}

#proj_name {
	font-size: 1.5em;
}

#proj_time {
	font-style: italic;
}

#proj_desc {
	padding: 1em 0;
}
