#quotes_container {
	font-family: 'Open Sans';
	margin: auto;
	padding: 2em 3em 2em 3em;
  max-width: 48em;
}

#quotes_container ul {
	padding: 0px;
	text-align: center;
}

#quotes_container li {
	list-style: none;
	padding: 1em;
}

#quote {
	text-align: justify;
	font-style: italic;
	font-size: 1.2em;
}

#author {
	font-size: 1em;
}
