<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div id="main_body">
			<div id="top_bar">
				<center>
					<h1> {{page.title}} </h1>
				</center>
			</div>
			<hr/>
			<div class="container">
				{{content}}
			</div>
		</div>
		<div id="nav_bar">
			<ul id="nav_list">
    			<li id="active"><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</div>
	</body>
</html>