---
layout: default
title: "&#955 STATE"
---
<div id="post">
	<div id="blog_title_bar">
    <img id="back_button" onclick="navigateBlog('prev')" src="/assets/left_arrow.svg"/>
    <img id="next_button" onclick="navigateBlog('next')" src="/assets/right_arrow.svg"/>
		<div id="blog_title"> {{page.blogTitle}} </div>
		<div id="blog_date"> {{page.date | date_to_string}} </div>
	</div>
	<div id="content">
		{{content}}
	</div>
</div>
<div id="blog_footer">
	<hr/>
  <a class="archive_link" href="http://www.mohitbakshi.com/blog/">Archive</a>
</div>
